<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{get 'title' /}</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@{'public/stylesheets/css/bootstrap.css'}">
    <link rel="stylesheet" href="@{'public/stylesheets/vendors/bootstrap-icons/bootstrap-icons.css'}">
    <link rel="stylesheet" href="@{'public/stylesheets/css/app.css'}">
    <script src="@{'/public/javascripts/jquery-3.6.0.min.js'}" type="text/javascript"></script>
    <script src="@{'/public/javascripts/jquery.mask.min.js'}" type="text/javascript"></script>
    <script src="@{'/public/javascripts/popper.min.js'}" type="text/javascript"></script>
    
    <script src="@{'/public/javascripts/mascaras.js'}" type="text/javascript"></script>
    <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript"></script>
    <script src="@{'/public/javascripts/bootstrap-datepicker.min.js'}" type="text/javascript"></script>
    
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/play-pagination.css'}">
    
    <link rel="stylesheet" href="@{'/public/assets/vendors/iconly/bold.css'}">
	 
    
    #{get 'moreStyles' /}
    #{get 'moreScripts' /}
</head>
<body>
    #{doLayout /}

</body>

</html>